

services:
  api:
    build: .
    container_name: pos_obra_api
    ports:
      - "3000:3000"
    env_file:
      - .env.docker
    environment:
      - PUBLIC_API_KEY=posobra-public-2026
    depends_on:
      - mysql
    restart: always

  mysql:
    image: mysql:8.0
    container_name: pos_obra_mysql
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: pos_obra
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pos_obra_phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - mysql
    restart: always

volumes:
  mysql_data: